@media print{ 
    @page{
        size:portrait;
    }
    body{
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    p{
        margin: 0;
    }
    .shadow{
        box-shadow: none !important;
    }
    .card{
        border: 0;
    }
    img{
        width:75%;
    }
    .table > :not(caption) > * > * {
        padding: 0;
    }
}

